.chatWindow {
	height: 65vh;
	margin-bottom: 28px;

	.container {
		border-radius: 16px;
		background: #fff;
		border-radius: 16px;
		background: #fff;
		overflow-y: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		height: 100%;

		-ms-overflow-style: none;
		scrollbar-width: none;

		display: flex;
		flex-direction: column;
		overflow-y: auto;
	}
	.placeholder {
		color: black;
		position: relative;
		font-size: 16px;
		margin: 10px;
		align-self: center;
		top: 45%;
	}

	.botTyping {
		color: black;
		align-self: center;
		font-style: italic;
		letter-spacing: 0.25rem;
	}
}
